<h1>REACTIVE FORMS !!</h1>
<form [formGroup]="loginForm" (submit)="login()">
  
  <div class="formBasic">
    <label>Username</label>
    <input type="text" formControlName="username"/>
    <br>
    <div *ngIf="loginForm.get('username').invalid">
      Correct username is required.
    </div>

    <label>Address</label>
    <input type="text" formControlName="address"/>
    <br>
    <div *ngIf="loginForm.get('address').invalid">
      Correct address is required.
    </div>
  </div>

  <select>
    <option value="user">User</option>
    <option value="administrator">Administrator</option>
    <option value="author">Author</option>
  </select>

  <label>Consent</label>
  <input type="checkbox" formControlName="consent" checked/>
  <br>

  

  <button *ngIf="loginForm.get('consent').value" type="submit">Login</button>
  
</form>